---
permalink: style.css
---
{% include "../node_modules/chartist/dist/chartist.css" %}
{% include "../node_modules/speedlify-score/speedlify-score.css" %}
{% include "./style.css" %}
{% include "./tail.min.css" %}

.net-shadow {box-shadow: 0 4px 30px rgba(0,0,0,.10)}

.bg-fff {
  block-size: 100%;
  min-inline-size: 100%;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  background: linear-gradient(
    to bottom right,
    hsl(0 100% 50%),
    10%,
    hsl(325 100% 50%), 
    75%,
    hsl(275 50% 50%) 
  );
}

.txt-blk {color: #2d3b41}
.bg-red-600 {background-color: #e8114e}
.text-red-600 {color: #e8114e}